/*кнопки, шапка и т.д. основного цвета*/
/*Светлозелёный для кнопок и прочей фигни*/
/*Цвет текста заголовков*/
/*Высота заголовков блоков*/
/*Высота подзаголовков в блоке*/
/*заголовок над меню*/
.top-header {
  background-color: #47b359;
  color: #ffffff;
  font-size: 14px;
  height: 50px;
}
.main-image-bottom-menu {
  background-color: rgba(157, 156, 169, 0.5);
  color: #ffffff;
  font-size: 14px;
}

